<footer>
  <mat-grid-list gutterSize="0" [cols]="colNumber" rowHeight="fit">

    <mat-grid-tile>
      <a href="https://www.instagram.com/" class="social-media-icon"><img class="icon-hover" alt="ig" src="../../../assets/social-media-icons/instagram_icon.png"></a>
    </mat-grid-tile>

    <mat-grid-tile>
      <a href="https://www.linkedin.com/" class="social-media-icon"><img class="icon-hover" alt="li" src="../../../assets/social-media-icons/linkedin_icon.png"></a>
    </mat-grid-tile>

    <mat-grid-tile>
      <ul id="contact">
        <li>Contact</li>
        <li>+31 6 telefoonnummer</li>
        <li>straat 1</li>
        <li>email@example.com</li>
      </ul>
    </mat-grid-tile>

    <mat-grid-tile-footer>

    </mat-grid-tile-footer>

  </mat-grid-list>

  <div id="copyrightTextBlock">
    <p id="copyrightText">Door Pieter van Turennout &copy; 2020</p>
  </div>

</footer>
