<div class="table-container" (window:resize)="makeTableResponsive()">
  <table mat-table [dataSource]="productList">
    <ng-container matColumnDef="image">
      <th mat-header-cell *matHeaderCellDef class="column-title"> Image </th>
      <td mat-cell *matCellDef="let item" class="width-15"> <div class="image">
        <img [src]="getImagePath(item.product)" alt="Product image"> </div>
      </td>
      <td mat-footer-cell *matFooterCellDef class="table-footer text"> Total </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="column-title"> Name </th>
      <td mat-cell *matCellDef="let item" class="text">
        <a class="fix-link" [routerLink]="'/product/' + (item.product.productId)">
          {{item.product.brand}} {{item.product.name}}
        </a>
      </td>
      <td mat-footer-cell *matFooterCellDef class="table-footer">  </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef class="column-title"> amount </th>
      <td mat-cell *matCellDef="let item" class="width-10 text">
          {{item.amount}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="table-footer"> </td>
    </ng-container>

    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef class="column-title"> Subtotal </th>
      <td mat-cell *matCellDef="let item" class="width-5 text">
        {{item.productSubtotal|currency: 'EUR'}}
      </td>
      <td mat-footer-cell *matFooterCellDef class="table-footer text">
        {{totalCost | currency: 'EUR'}}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</div>
