<div class="page homepage">

  <h1 class="title">Watch Com</h1>
  <h2 class="underTitle">Find your perfect watch now!</h2>

  <app-standard-divider></app-standard-divider>

  <h3 class="product-cage-title">Highlighted Products</h3>
  <app-product-card-box [productList]="highlightedProducts"></app-product-card-box>

  <app-standard-divider></app-standard-divider>

  <h3 class="product-cage-title">Best Selling Products</h3>
  <app-product-card-box [productList]="topProducts"></app-product-card-box>
</div>
